@font-face {
    font-family: "iconfont"; /* Project id 2810445 */
    src: url('//at.alicdn.com/t/font_2810445_kk9qgfeqj9j.woff2?t=1631549123828') format('woff2'),
         url('//at.alicdn.com/t/font_2810445_kk9qgfeqj9j.woff?t=1631549123828') format('woff'),
         url('//at.alicdn.com/t/font_2810445_kk9qgfeqj9j.ttf?t=1631549123828') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-wenjian:before {
    content: "\e654";
  }
  
  .icon-tupian:before {
    content: "\e612";
  }
  
  .icon-checkBox:before {
    content: "\e631";
  }
  
  .icon-input:before {
    content: "\e604";
  }
  
  .icon-wenbenkuang:before {
    content: "\e817";
  }
  
  .icon-danxuan:before {
    content: "\e601";
  }
  
  .icon-riqi:before {
    content: "\e606";
  }
  