.display-block {
    width: 100%;
}

.display-block .block-img {
    position: relative;
}
.display-block .block-img .block-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    display: flex;
}
.display-block .block-img .block-btn .btn-group {
    margin-left: auto;
}
.display-block .block-img .block-btn .publish {
    font-size: 20px;
    font-weight: 700;
    font-family: "MyFont1";
    color: rgba(57, 84, 236, 0.8);
}

.display-block.add-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

